.chess-board {
    width: 92vh;
    height: 92vh;
    border: 1px solid #4d4d4d;
    position: relative;

    .numbers-container {
        width: 25px;
        height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: -25px;

        div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .letters-container {
        width: 92vh;
        height: 25px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -25px;

        div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .chess-board-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        .board-tile {
            width: calc(12.5%);
            position: relative;

            &.even-row {
                &:nth-child(even) {
                    background-color: #4d4d4d;
                }
                &:nth-child(odd) {
                    background-color: white;
                }
            }

            &.odd-row {
                &:nth-child(even) {
                    background-color: white;
                }
                &:nth-child(odd) {
                    background-color: #4d4d4d;
                }
            }

            &.piece {
                background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/640px-Chess_Pieces_Sprite.svg.png');
                cursor: pointer;
            }

            &.whites {
                background-position-y: 5%;
            }

            &.blacks {
                background-position-y: 95%;
            }

            &.pawn {
                background-position-x: 99%;
            }

            &.rook {
                background-position-x: 79.2%;
            }

            &.knight {
                background-position-x: 60%;
            }

            &.bishop {
                background-position-x: 40%;
            }

            &.queen {
                background-position-x: 20.5%;
            }

            &.king {
                background-position-x: 1%;
            }

            &.revealed {
                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: calc(50% - 10px);
                    top: calc(50% - 10px);
                    background-color: lightgreen;
                    border-radius: 50%;
                }
            }

            /* Might use this implementation istead of the dot.
            &.available {
                box-shadow: inset 0px 0px 10px 7px rgba(0,0,0,0.35)
            }*/
        }
    }



}
